<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mjiayou.trecorelib">

    <!-- 获取设备状态 - READ_PHONE_STATE -->
    <!-- telephonyManager.getDeviceId(); -->
    <!-- telephonyManager.getSubscriberId(); -->
    <!-- telephonyManager.getLine1Number(); -->
    <!-- telephonyManager.getSimSerialNumber(); -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <!-- 获取WIFI状态 - ACCESS_WIFI_STATE -->
    <!-- wifiManager.getConnectionInfo(); -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <!-- 获取网络状态 - ACCESS_NETWORK_STATE -->
    <!-- connectivityManager.getActiveNetworkInfo(); -->
    <!-- connectivityManager.getNetworkInfo(ConnectivityManager.TYPE_WIFI) -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!-- 获取位置信息 - ACCESS_FINE_LOCATION or ACCESS_COARSE_LOCATION -->
    <!-- locationManager.getLastKnownLocation(LocationManager.NETWORK_PROVIDER); -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <!-- 获取外置存储存取权限 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />

    <!-- 获取访问网络权限 -->
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- 获取使用相机权限 -->
    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />

    <!-- 获取改变WIFI状态权限 -->
    <!-- wifiManager.setWifiEnabled(true) -->
    <!--<uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />-->

    <!-- 获取拨打电话权限 -->
    <!--<uses-permission android:name="android.permission.CALL_PHONE" />-->

    <!-- 获取手机震动权限 -->
    <!--<uses-permission android:name="android.permission.VIBRATE" />-->

    <application
        android:label="@string/tc_app_name"
        android:supportsRtl="true">
        <activity android:name=".base.TCMenuActivity" />

        <!-- HeartService -->
        <service android:name=".service.HeartService" />
        <!-- FloatService -->
        <service android:name=".service.FloatService" />
    </application>

</manifest>
