<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.mjiayou.trecore">

    <application
        android:name=".MyApp"
        android:allowBackup="true"
        android:icon="@mipmap/tc_launcher"
        android:label="@string/gradle_app_name"
        android:roundIcon="@mipmap/tc_launcher"
        android:supportsRtl="true"
        android:theme="@style/TCAppTheme"
        tools:replace="icon,label,theme">

        <meta-data
            android:name="TC_ID"
            android:value="${gradle_tc_id}" />
        <meta-data
            android:name="TC_KEY"
            android:value="${gradle_tc_key}" />
        <meta-data
            android:name="TC_CHANNEL"
            android:value="${gradle_tc_channel}" />

        <!-- SplashActivity -->
        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- MainActivity -->
        <activity android:name=".MainActivity" />

        <!-- TestActivity -->
        <activity android:name=".test.TestActivity" />

        <!-- WebViewActivity -->
        <activity android:name=".test.WebViewActivity" />
        <!-- CameraActivity -->
        <activity android:name=".test.CameraActivity" />
        <!-- ServiceActivity -->
        <activity android:name=".test.ServiceActivity" />
        <!-- FloatTagActivity -->
        <activity android:name=".test.FloatTagActivity" />
        <!-- MaterialDrawerActivity -->
        <activity android:name=".test.MaterialDrawerActivity" />
        <!-- CustomViewActivity -->
        <activity android:name=".test.CustomViewActivity" />
        <!-- ImageLoaderActivity -->
        <activity android:name=".test.ImageLoaderActivity" />
    </application>

</manifest>